@page "/fetchdata"
@using RefatoracaoBlazor.Components

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<WeatherForecastList Forecasts="forecasts" />

@code {
    [Inject]
    public RefatoracaoBlazor.Services.IWeatherForecastService Service { get; set; }

    public List<Models.WeatherForecast>? forecasts;

    protected override async Task OnInitializedAsync() => forecasts = await Service.GetAsync();
}
